@{ Layout = null;}
<!DOCTYPE html>
<html ng-app="FractalApp" ng-controller="dataController">
<head>
    <title ng-bind="setting.title">Fractal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/header.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/workplace.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/article.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/footer.css">
</head>
<body>
    <div class="header clearfix">
        <button class="home" ng-click="goHome()"></button>
        <h1 ng-bind="setting.title" >Fractal#demo</h1>
        <div class="controll">
            <button class="customization-button" ng-show="setting.hasPermission" ng-click="show_setting = !show_setting"></button>
            <button class="login-button" ng-click="show_login = !show_login" ng-bind="authManager.isAuth ? 'Профиль':'Войти'"></button>
            <button class="information-button" ng-click="show_inf = !show_inf"></button>
            <button ng-click="editing_mode = !editing_mode" ng-show="setting.hasPermission && !editing_mode" ng-bind="'Редактировать'"></button>
            <button ng-click="editing_mode = !editing_mode" ng-show="canEdit()" ng-bind="'Выйти из режима редактирования'"></button>
            <button ng-click="shower.clearBinding()" ng-show="shower.state() !== 'grid'" ng-bind="'Вернуться к сетке элементов'"></button>
            <button ng-click="linker.disable()" ng-show="linker.isSelecting()" ng-bind="'Выйти из режима создания связей'"></button>      
        </div>
        <div class="handler" ng-show="show_setting" ng-click="show_setting = !show_setting"></div>
        <div ng-include="'/Content/partials/setting.html'" ng-show="show_setting"></div>

        <div class="handler" ng-show="show_login" ng-click="show_login = !show_login"></div>
        <div ng-include="'/Content/partials/login.html'" ng-show="show_login"></div>

        <div class="handler" ng-show="show_inf" ng-click="show_inf = !show_inf"></div>
        <div ng-include="'/Content/partials/information.html'" ng-show="show_inf"></div>
    </div>

    <div ng-switch="shower.state()" style="min-height: 40em;">
        <div ng-switch-when="grid">
            <div class="workplace clearfix" ng-controller="gridController" complite-width="{{setting.width -(!canEdit() && !setting.fixedWidth?1:0)}}">

                <div class="column" ui-sortable="sortableOptions" ng-repeat="column in items" ng-model="column">
                    <div ng-repeat="item in column">
                        <div ng-include="'/Content/partials/item/' + item.type + '.html'" ng-controller="itemController"></div>
                    </div>
                </div>

                <div class="loader" ng-show="loading"></div>
            </div>
        </div>

        <div ng-switch-when="relations">
            <div class="workplace clearfix" complite-width="1">
                <div class="column" ng-repeat="item in [shower.currentItem]">
                    <div ng-include="'/Content/partials/item/' + item.type + '.html'" ng-controller="itemController"></div>
                </div>
            </div>
            <div class="workplace clearfix" ng-controller="gridController" comlite-width="{{setting.minWidth}}">
                <div class="title">
                    Показаны:
                    <span ng-show="shower.bindings.analogy">аналогии<button ng-click="unsetBinding('analogy')">Х</button></span>
                    <span ng-show="shower.bindings.sub">подэлементы<button ng-click="unsetBinding('sub')">Х</button></span>
                    <span ng-show="shower.bindings.sup">надэлементы<button ng-click="unsetBinding('sup')">Х</button></span>
                </div>

                <div class="column" ng-repeat="column in filterItems">
                    <div ng-repeat="item in column">
                        <div ng-include="'/Content/partials/item/' + item.type + '.html'" ng-controller="itemController"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <button ng-click="debug = !debug">Показать модель</button>
    <pre ng-show="debug" style="background: #aaa;">{{ {messager: messager, setting: setting, items: items} | json }}</pre>
    
    <div class="messager" ng-show="messager.active" ng-bind="messager.message"></div>
    <div class="footer">
        Made by <a href="">&copy;Suhoy</a>
    </div>

    <script src="/Content/bower_components/jquery/dist/jquery.js"></script>
    <script src="/Content/bower_components/jquery-ui/ui/core.js"></script>
    <script src="/Content/bower_components/jquery-ui/ui/widget.js"></script>
    <script src="/Content/bower_components/jquery-ui/ui/mouse.js"></script>
    <script src="/Content/bower_components/jquery-ui/ui/sortable.js"></script>
    <script src="/Content/bower_components/angular/angular.js"></script>
    <script src="/Content/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/Content/bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="/Content/js/app.js"></script>
    <script src="/Content/js/connection.js"></script>
    <script src="/Content/js/auth.js"></script>
    <script src="/Content/js/itemfactory.js"></script>
    <script src="/Content/js/gridmaster.js"></script>
    <script src="/Content/js/messager.js"></script>
    <script src="/Content/js/linker.js"></script>
    <script src="/Content/js/shower.js"></script>
    <script src="/Content/js/controllers.js"></script>
    <script src="/Content/js/directives.js"></script>
</body>
</html>
